<% @results = get_album_info(album.title, album.artist.name) %>
<% @album_info = @results["results"].first %>

<img class="album-img" src="<%= @album_info["thumb"]%>">
<div class="album-info">
  <p><%= @album_info["title"] %></p>
  <p><%= @album_info["year"] %> | <%= @album_info["label"][0] %></p>
  <p><%= points %> points</p>
  <p>Voted by: <%= album.voters.all.pluck(:username).to_a.join(', ') %></p>
</div>
